Import

In [97]:
import pandas as pd

In [98]:
df_news = pd.read_csv('../datasets/Articles.csv')
df_goal = pd.read_csv('../datasets/goal_articles_en.csv')

In [116]:
df_goal = df_goal.dropna()
df_news = df_news.dropna()

In [99]:
df_news

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business

In [100]:
df_goal

,Unnamed: 0,title,description,article_text
0,0,Pele reassures fans of health with social medi...,Brazil icon Pele updated fans worried about hi...,Pele has been undergoing chemotherapy for bow...
1,1,"Messi is a footballing God! Argentina winners,...",Lionel Scaloni's side edged past Australia to ...,Lionel Messi has his first goal in the knocko...
2,2,"Netherlands World Cup 2022 squad, predicted qu...",Who will get the nod from head coach Louis van...,The Netherlands are back at the World Cup aft...
3,3,Messi's best games for Argentina: From tearing...,GOAL runs through Lionel Messi's most memorabl...,Lionel Messi is in perhaps his final World Cu...
4,4,WATCH: Argentina rescued by Emiliano Martinez ...,Argentina needed goalkeeper Emiliano Martinez ...,WHAT HAPPENED? Australia had a chance to equa...
...,...,...,...,...
281,281,'Best believe I'll be ready!' - Injured Pulisi...,Christian Pulisic has vowed to be get fit for ...,WHAT HAPPENED? The USMNT got the better of Ir...
282,282,What do Mexico need to qualify for last 16 of ...,Tata Martino's men are winless in the 2022 Wor...,Mexico have a mountain to climb against Saudi...
283,283,Quiz! Name the all-time top goalscorers for Fr...,"In honour of Day 11 at the 2022 World Cup, the...","France, Argentina, Mexico, Denmark, Australia..."
284,284,Cristian Volpato: Roma's Australian wonderkid ...,The 19-year-old has impressed for Jose Mourinh...,"Unfancied heading into the World Cup, Austral..."
285,285,From Lautaro to De Paul: Argentina's disappear...,The captain kickstarted his country's campaign...,"With one swing of his left foot, Lionel Messi..."

Dropping unused column

In [101]:
df_news = df_news.drop(columns=['Date', 'Heading', 'NewsType'])
df_goal = df_goal.drop(columns=['title', 'Unnamed: 0', 'description'])

In [102]:
df_goal['labels'] = 'football'
df_news['labels'] = 'other'

Renaming columns to concat

In [103]:
df_news.rename(columns = {'Article':'article_text'}, inplace = True)

In [104]:
import re

In [105]:
df_news['article_text'] = df_news['article_text'].apply(lambda x: x.replace('\r', '').replace('\n', '').replace('  ', ''))
df_news['article_text'] = df_news['article_text'].apply(lambda x: re.sub(r'^.*?: ', '', x))

In [118]:
df_goal['article_text'] = df_goal['article_text'].apply(lambda x: x.replace('WHAT HAPPENED? ', '').replace('\xa0', ' '))

/var/folders/y0/7mmq5kp12fq249dxyngjmwv80000gn/T/ipykernel_29069/1121725972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_goal['article_text'] = df_goal['article_text'].apply(lambda x: x.replace('WHAT HAPPENED? ', '').replace('\xa0', ' '))

Keeping only 300 articles of each categories

In [119]:
df_news = df_news.iloc[:300]

In [120]:
df = pd.concat([df_goal, df_news], ignore_index = True)

Exporting full DataFrame to CSV

In [121]:
df.to_csv('../datasets/full_df_en.csv', index=False)